# This file controls which files are not tracked by git.
# Anything in here will not be committed to the repository.
**/node_modules
**/build
**/dist
**/.env
**/.next
**/next-env.d.ts
**/.vscode
**/*.db
**/generated